<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <style>
    h1{
      color:white;
      background-color: teal;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </nav>
  </header>
  <h1>About page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure at molestiae pariatur voluptates quibusdam dignissimos tenetur, ipsam fugiat, ea commodi tempore enim magnam reiciendis qui ipsa assumenda maiores. Non, laboriosam.</p>
</body>
</html>